PORT=5000
DB_URL=############################
NODE_ENV=development

BCRYPT_SALT_ROUND=#################

JWT_ACCESS_SECRET=#################
JWT_ACCESS_EXPIRES=################

JWT_REFRESH_SECRET=################
JWT_REFRESH_EXPIRES=###############

EXPRESS_SESSION_SECRET=############